# Generic things to ignore
.DS_Store
.xlsx
.log

# Folders to ignore
00-admin
01-ressources/*
02-contexte_litterature/*
03-corpus/*
04-filtrage/output/*
04-filtrage/vocab/*
05-transformation/*
06-clustering/*
04-filtrage/taxo_default_labels.tsv
